// colors

$color-1: #2996cc; // appdevy blue
$color-2: #fff; // white
$color-3: #eee; // light gray
$color-4: #fcfcfc; // lighter gray
$color-5: #33ffd4; // mint
$color-6: #80D5FF;  // blue mono
// fonts 

$primary-font: 'Ubuntu', sans-serif;
